{% extends '_base.html' %}
{% load tailwind_filters %}
{% block title %}
Vizualizar factura
{% endblock title %}

{% block content %}
    

<div class="flex flex-col w-full mb-20 text-center">
    <h1 class="mb-2 text-3xl font-medium text-gray-900 print:hidden sm:text-4xl title-font">{{titulo_pag }}</h1>
    <p class="mx-auto text-base leading-relaxed print:hidden lg:w-2/3">Seleccione los productos que desea facturar.</p>
    <div class="flex mx-auto mt-6 overflow-hidden rounded print:hidden">
        <button class="px-4 py-1 text-white bg-indigo-500 focus:outline-none">Inventario</button>
    </div>
</div>
<div class="container flex flex-wrap justify-center gap-10 overflow-hidden max-h-max">
    <div class="p-6 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">

            <div class="col">
            <form action="" class="print:hidden" method="POST">    
                {% csrf_token %}
                {{servicios|crispy}}
                <div class="flex justify-center">
                    
                
                <div class="flex justify-center">    
                    <button class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800">
                        <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                            Añadir producto
                        </span>
                    </button>
                </div>
                <div class="flex justify-center">
                    
                
                <a href="{% url 'factura_estado' pk=factura.id estado="Cerrada" %}" class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
                    <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                        Cerrar factura
                    </span>
                  </a>
                </div>
            </div>
                </form>
        </div>
    </div>
    <div class="max-w-3xl p-6 overflow-hidden bg-white border border-gray-200 rounded-lg shadow-md col dark:bg-gray-800 dark:border-gray-700">
        <!-- table -->
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-4 sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                    <table id="tabla" class="min-w-full text-sm text-left text-gray-500 rounded-sm dark:text-gray-400">
                        <thead class="text-xs text-gray-700 bg-light-white dark:bg-gray-700 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 bg-light-white dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-4 text-sm font-medium text-black">
                            Nombre
                        </th>
                        <th scope="col" class="px-6 py-4 text-sm font-medium text-black">
                            Categoría
                        </th>
                        <th scope="col" class="px-6 py-4 text-sm font-medium text-black">
                            Marca
                        </th>
                        <th scope="col" class="px-6 py-4 text-sm font-medium text-black">
                            Imagen
                        </th>
                        <th scope="col" class="px-6 py-4 text-sm font-medium text-black">
                            Cantidad
                        </th>
                        <th scope="col" class="px-6 py-4 text-sm font-medium text-black">
                            Precio
                        </th>
                        <th scope="col" class="px-6 py-4 text-sm font-medium text-black">
                            Opciones
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                {% for obj in detalle %}
                                {% if obj.estado == "Abierta" %}
                                  
                                
                                <td>{{obj.producto.nombre}}</td>
                                <td>{{obj.producto.categoria}}</td>
                                <td>{{obj.producto.marca}}</td>
                                <td><img src="{{ obj.producto.get_image }}" style="width: 50px; height: 50px;" alt="imagen-producto"></td>
                                <td>{{obj.cantidad_detalle}}</td>
                                <td>{{obj.total}}</td>
                                <td>
                                    <div class="flex justify-center print:hidden">
                                        <a href="{% url 'detalle_eliminar_estado' pk=obj.id  cantidad=obj.cantidad_detalle %}"><svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"></path></svg>
                                            <a href="{% url 'detalle_eliminar_estado' pk=obj.id  cantidad=obj.cantidad_detalle %}"><svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                                                <a href="{% url 'detalle_eliminar_estado' pk=obj.id  cantidad=obj.cantidad_detalle %}"><svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                                            </div>
                                            
                                    
                  
                                  {% endif %}
                                </td>
                                {% endfor %}     
                        </tr>
                       </tbody>
                    </table>
                </div>
            </div>
            <div class="print:hidden">
                <button> Generar reporte </button>
                <button>Imprimir</button>
                <button>Pdf</button>
            </div>
    </div>
</div>
<div  class="px-2 mb-2 font-sans text-xl font-bold text-center break-normal dark:text-white lg:mt-0 md:text-2xl">
    <br>
    Total de la factura: ${{total}}<br>
</div>
</div>
{% endblock content %}